server:
  port: ${PORT:8081}
  error:
    include-message: always
    include-binding-errors: always
  forward-headers-strategy: framework


spring:
  datasource:
    url: jdbc:postgresql://pg-517b35c-gms-99f3.l.aivencloud.com:21621/defaultdb?ssl=require&user=avnadmin&password=AVNS_gvPc5Y3fNojWp-aQNIs
    username: avnadmin
    password: AVNS_gvPc5Y3fNojWp-aQNIs
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate.ddl-auto: none
    show-sql: true

  flyway:
    url: jdbc:postgresql://pg-517b35c-gms-99f3.l.aivencloud.com:21621/defaultdb?ssl=require&user=avnadmin&password=AVNS_gvPc5Y3fNojWp-aQNIs
    locations: classpath:db/migration
    baselineOnMigrate: true
    table: gms_schema_migration
    out-of-order: true
    sql-migration-prefix: V
    sql-migration-suffix: .sql

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI}
  app:
    jwtExpirationMs: 30000
    jwtSecret: asndsnblskjnb123253266w423tw32tw4kvn4kdg4tll4

  mvc:
    pathmatch:
      matching-strategy: path_pattern_parser     # used to match the Url path sent to the controller


logging:
  level:
    org:
      springframework: INFO
      flywaydb: DEBUG

keycloak:
  baseUrl: ${KEYCLOAK_BASE_URL}
  realm: ${KEYCLOAK_REALM}
  client_id: ${KEYCLOAK_CLIENT_ID}
  client_secret: ${KEYCLOAK_CLIENT_SECRET}
  client_uuid: 1817f53d-c79d-4280-a2d1-4d4d8d764646
  roles:
    user: USER
    owner: ADMIN

other:
  env: prod
  authKey: smg