server:
    port: ${PORT:8081}
    error:
        include-message: always
        include-binding-errors: always

spring:
    datasource:
        url: jdbc:postgresql://pg-517b35c-gms-99f3.l.aivencloud.com:21621/defaultdb?ssl=require&user=avnadmin&password=AVNS_gvPc5Y3fNojWp-aQNIs 
        username: avnadmin
        password: AVNS_gvPc5Y3fNojWp-aQNIs
        driver-class-name: org.postgresql.Driver

    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        hibernate.ddl-auto: none
        show-sql: true

    flyway:
        url: jdbc:postgresql://pg-517b35c-gms-99f3.l.aivencloud.com:21621/defaultdb?ssl=require&user=avnadmin&password=AVNS_gvPc5Y3fNojWp-aQNIs
        locations: classpath:db/migration
        baselineOnMigrate: true
        table: gms_schema_migration
        out-of-order: true
        sql-migration-prefix: V
        sql-migration-suffix: .sql

    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: http://localhost:8080/realms/my-app-realm
    app:
        jwtExpirationMs: 30000
        jwtSecret: asndsnblskjnb123253266w423tw32tw4kvn4kdg4tll4

    mvc:
        pathmatch:
            matching-strategy: path_pattern_parser     # used to match the Url path sent to the controller


logging:
    level:
        org:
            springframework: INFO
            flywaydb: DEBUG

keycloak:
    baseUrl: http://localhost:8080
    realm: my-app-realm
    client_id: my-backend-service
    client_secret: v5j6U6Kfhwcw4gazRr0xo5oVCaf7QSB2
    client_uuid: 1817f53d-c79d-4280-a2d1-4d4d8d764646
    roles:
        user: USER
        owner: ADMIN

other:
    env: local
    authKey: smg